body{
   font-family: 'Lato', sans-serif;
}

#super{ 
   width: 500px;
   margin: 180px auto 0 auto;
}

select {
    position: relative;
    right: 40px;
    -moz-appearance: none;
    -webkit-appearance:none;
}

.ui-widget{
    font-family: 'Lato', sans-serif;
}

.ui-selectmenu-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 5px;
}
    
#choices-button{
    margin: 0px auto;
    width: 400px;
    height:50px;
    border-radius:10px;
    text-align:center;
}

.ui-icon {
    top: 17px;
}

#invisible{
    display: none;
    line-height: 30px;
    color: rgb(19, 18, 18);
    right: 25%;
}

#popup{
    width: 100px;
    margin: -50px 0 0 auto;
    font-size:40px;
    color: lightgrey;
    cursor: default;
}

#about {
    position: relative;
}

strong{
    font-weight:10px;
}

#popup:hover + #invisible{
    position: absolute;
    left: 0;
    margin-top: -20px;
    display: block;
    background-color:rgb(173, 216, 230);
    color: black;
    box-sizing: border-box;
    width: 434px;
    opacity: .65;
    border-radius: 10px;
    padding: 0 20px;
}


