body{
   
    font-family: 'Lato', sans-serif;
}

#super{ 

   width: 500px;
   margin: 200px auto;
}

select {

    position: relative;
    right: 40px;
    -moz-appearance: none;
    -webkit-appearance:none;
}

#popup{
    font-size:40px;
    color: lightgrey;
}


.ui-widget{
    font-family: 'Lato', sans-serif;
}

.ui-selectmenu-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 5px;
}
    
#choices-button{
    margin: 0px auto;
    width: 400px;
    height:50px;
    border-radius:10px;
    text-align:center;
} 

header {
    width: 98%;
    margin: 0 auto 32px auto;
    padding-top: 45px;
    border-bottom: 2px solid rgb(167, 165, 165);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1040px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(75, 125, 141);
    font-weight: bold;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(102, 100, 100);
    margin: 0px;
    font-size: 40px;
}

header li {
    font-size: 1.2em;
    display: inline;
    margin-left: 48px;
}

#invisible{
    display: none;
    line-height: 30px;
    position: absolute;
    color: rgb(19, 18, 18);
    right: 25%;
    top: 100px;

}

strong{
    font-weight:10px;
}

#popup:hover + #invisible{
display: block;
background-color:lightblue;
color: black;
width: 600px;
height: 220px;
opacity: .65;
border-radius: 10px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:20px; 
    font-size: 14px;
    margin: 2%;
  
 }
