* {
    background-color: rgb(243, 232, 232);
}

body {
    display: flex;
    justify-content: center;
}

table {
    border: solid black 2px;
    table-layout: fixed;
    width: 100%;
}

th{
    
}
   
#container {
    width: fit-content;
    position: relative;
}