body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

hr {
    display: block;
    width: 98%;
    position: relative;
    top:120px;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(167, 165, 165);
    padding: 0;
}

h1{
    display: inline;
    color: rgb(102, 100, 100);
    position: absolute;
    margin: 0px;
    top: 70px;
    left: 20px;
    font-size: 50px;
}

li{
    display: inline;
    margin: 50px;
}

nav{
    display: inline;
    position: absolute;
    right: 200px;
    top: 100px;
}

ul{
    display: inline; 
}

a{
    text-decoration: none;
    color: rgb(75, 125, 141);
}
#table{
    position: absolute;
    top: 250px;
}
table {
    position: absolute;
    top: 200px;
    right: 150px;
    margin: 0 auto;
    table-layout: fixed;
    width: 80%;
    line-height: 2em;
    border-bottom: solid 2px rgb(75, 125, 141); 
}

hr {
    display: block;
    width: 98%;
    position: relative;
    top:120px;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(167, 165, 165);
    /* margin: 1em 0; */
    padding: 0;
}


th {
    background-color: rgb(75, 125, 141);
    color: white;
}

th:last-child {
    width: 10em;
}
  
td {
    text-align: center;
    color: rgb(153, 150, 150);
}

td:hover{
    color: black;
}

tbody tr:nth-child(odd) {
    background: white;
}

tbody tr:nth-child(even) {
    background: whitesmoke;

}

tbody tr:hover {
    background: rgba(184, 197, 255, 0.589);
}

/* tbody td:last-child {
    background: gray;
    color: white;
    cursor: pointer;
} */
