body {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 232, 232);
}

table {
    margin: 0 auto;
    border: solid black 2px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 50%;
}

th {
    border: solid black 2px;
    border-collapse: collapse;
}
  
td {
    text-align: center;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(even) {
    background: rgb(224, 223, 223);
  }