body {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
} 
    

#container {
    float: right;
    width: fit-content;
    position: relative;
    margin-right: 20px;
}

#controls {
    float: right;
    width: 200px;
    margin-left: 40px;
}

#controls>div {
    margin-top: 10px;
}

button {
    margin-top: 1em;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-slider-horizontal {
    height: 0.5em;
}

.ui-slider .ui-slider-handle {
    width: 1em;
    height: 1em;
}

.ui-state-default, .ui-widget-content .ui-state-default .ui-button {
    background: rgb(240, 240, 240);
}

.ui-widget-header {
    background: rgb(220, 220, 220);
}

hr {
    display: block;
    width: 98%;
    position: relative;
    top:120px;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(167, 165, 165);
    padding: 0;
}
nav{
    display: inline;
    position: absolute;
    right: 200px;
    top: 100px;
    
}

ul{
    display: inline;
   
}
a{
    text-decoration: none;
    color: rgb(75, 125, 141);
}

#test{
    position: absolute;
    top: 180px; 
    margin-bottom: 50px;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    color: rgb(102, 100, 100);
    position: absolute;
    margin: 0px;
    left: 30px;
    top: 40px;
    font-size: 40px;
}
li{
    display: inline;
    margin: 50px;
}

.ui-selectmenu-button.ui-button {
    box-sizing: border-box;
    width: 200px;
}

.ui-widget {
    font-family: 'Lato', sans-serif;
}

