/* #defaultCanvas0{
   display: block;
   margin: 0px auto;
} */

* {
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
} 

#container {
    width: fit-content;
    position: relative;
}

#controls {
    width: 200px;
    margin-left: 20px;
}

#controls>div {
    margin-top: 10px;
}